:root {
  --gutter: 0px;
  --accent-main: #003cff;
  --accent-1: #787878;
  --font-main: "Moderat","Roboto","Segoe UI",Helvetica,Arial,sans-serif;
}

* {
  font-family: var(--font-main);
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

:focus, :focus-within {
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 21px;
}

body {
  line-height: 1.5;
  font-weight: 300;
}

a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}

a:link, a:visited {
  color: #000;
  font-weight: 400;
}

a:hover {
  color: var(--accent-main);
  border-bottom: 2px solid var(--accent-main);
}

a.simple {
  font-weight: 300;
  text-decoration: none;
  border-bottom: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  padding: 0 5%;
  overflow: hidden;
  max-width: unset;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #000;
  line-height: 1.2;
}

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
  margin-top: 8px;
}

h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
  margin-top: 8px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 18px;
}

p {
  margin-bottom: 16px;
}

b, strong {
  font-weight: 600;
}

.link {
  font-weight: 400;
}

.col-4, .col-6 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

[data-section="page-intro"] {
  margin: 140px 0 80px;
}

[data-section="page-intro"] .intro-img {
  margin-bottom: 60px;
}

[data-section="page-intro"] .intro-big p {
  font-size: 28px;
  line-height: 44px;
}

[data-section="page-intro"] .intro-txt {
  width: 66.6666%;
}

[data-section="page-intro"] .intro-txt h1 {
  margin-bottom: 16px;
}

[data-section="page-detail"] {
  margin: 120px 0 220px;
}

[data-section="page-detail"] .container > div {
  margin-bottom: 120px;
}

[data-section="page-detail"] .container > div:last-child {
  margin-bottom: 0;
}

[data-section="page-detail"] li {
  margin-left: 24px;
}

.logo {
  width: 117.6px;
}

.logo a, .logo a:hover {
  text-decoration: none;
  border: none;
}

[data-item='quote'] {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

[data-item='quote'] blockquote {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 24px;
}

[data-item='quote'] p {
  font-size: 28px;
}

[data-item='img-text'] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 66.666667%;
  margin: 0 auto;
}

[data-item='img-text'] p {
  font-weight: 400;
  padding-top: 8px;
  text-align: right;
  font-size: 14px;
}

[data-item='paragraph'] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
  margin: 0 auto;
}

[data-item='atelier-studio-items'] .arts-grid.row, [data-item='press-release-items'] .arts-grid.row, [data-item='in-the-press-items'] .arts-grid.row, [data-item='page-grid'] .arts-grid.row {
  margin-bottom: 120px;
}

[data-item='page-grid'] {
  margin-bottom: 120px;
}

.arts-grid.row .item a.link {
  border-bottom: 2px solid black;
}

.arts-grid.row .item a.link:hover {
  border-bottom-color: var(--accent-main);
}

.video iframe {
  width: calc(100% - 60px);
  height: 98vh;
  margin: 0 60px;
}

.txt-l {
  text-align: left;
}

.txt-r {
  text-align: right;
}

.txt-c {
  text-align: center;
}

.d-block {
  display: block;
}

.ml-auto {
  margin-left: auto !important;
}

.ml-100 {
  margin-left: 100px;
}

.ml-n100 {
  margin-left: -100px;
}

.mx-auto {
  margin: 0 auto;
}

.row, .row.grid-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row > [class*='col']:not(.str-l):first-child, .row.grid-big > [class*='col']:not(.str-l):first-child {
  margin-left: 0px;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item .item-img {
  margin-bottom: 60px;
}

.item .item-img img {
  width: 100%;
}

.item .item-descr h3 {
  color: #787878;
}

.str-l {
  width: calc(100% + 5vw);
  margin-left: -5vw;
}

.str-r {
  width: calc(100% + 5vw);
}

.smaller {
  font-size: 14px;
}

.big {
  font-size: 28px;
  line-height: 44px;
}

.arts-grid > div.col-4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 100px;
}

.arts-grid-wrapper {
  position: relative;
}

.view-all {
  line-height: 1.2;
  text-align: left;
  margin-bottom: 40px;
}

.view-all a + h2 {
  text-align: center;
  margin: 0;
}

.view-all a {
  color: var(--accent-main);
  text-decoration: none;
}

.page-wrapper {
  min-height: 100vh;
  padding-bottom: 40px;
}

.page-header {
  margin: 60px 0;
}

nav.main-nav ul > li {
  list-style: none;
  font-weight: 400;
  line-height: 40px;
  font-size: 28px;
  text-decoration: none;
  color: #000;
}

nav.main-nav ul > li a {
  text-decoration: none;
}

nav.main-nav ul > li a.curent {
  color: var(--accent-main);
  border-bottom: 2px solid var(--accent-main);
}

footer.page-footer {
  background: #E6E6E6;
  padding-bottom: 60px;
  border-top: 1px solid #e6e6e6;
}

footer.page-footer .footer-social {
  background-color: white;
  padding: 48px 0;
}

footer.page-footer .footer-social .col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

footer.page-footer .footer-social .col a:hover {
  color: var(--accent-main);
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}

footer.page-footer .footer-social .col a i {
  font-size: 24px;
  margin-bottom: 8px;
}

footer.page-footer .footer-signup {
  padding-top: 60px;
}

footer.page-footer .footer-signup h2 {
  font-weight: 300;
  margin-bottom: 20px;
}

footer.page-footer .footer-signup #formSubscribe {
  margin: 8px 0px 16px;
}

footer.page-footer .footer-signup #formSubscribe .input-wrapper {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

footer.page-footer .footer-signup #formSubscribe .input-wrapper input[type='email'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 45px;
  width: 100%;
  padding: 8px;
  border: none;
  background-color: transparent;
}

footer.page-footer .footer-signup #formSubscribe .input-wrapper input[type='email']::-webkit-input-placeholder {
  font-size: 17px;
}

footer.page-footer .footer-signup #formSubscribe .input-wrapper input[type='email']:-ms-input-placeholder {
  font-size: 17px;
}

footer.page-footer .footer-signup #formSubscribe .input-wrapper input[type='email']::-ms-input-placeholder {
  font-size: 17px;
}

footer.page-footer .footer-signup #formSubscribe .input-wrapper input[type='email']::placeholder {
  font-size: 17px;
}

footer.page-footer .footer-signup #formSubscribe .input-wrapper input[type='submit'] {
  -webkit-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: var(--accent-main);
  font-weight: 400;
  opacity: 0;
}

footer.page-footer .footer-signup #formSubscribe .input-wrapper:focus-within input[type='submit'] {
  opacity: 1;
}

footer.page-footer .footer-instagram {
  margin: 66px 0px 60px 0;
}

footer.page-footer .footer-instagram h2 {
  font-size: 30px;
  margin-top: 0;
}

footer.page-footer .footer-instagram img.feed-item {
  height: 100%;
  width: 100%;
}

footer.page-footer .footer-legal {
  margin-top: 60px;
}

footer.page-footer .footer-legal small {
  font-size: 12px;
  font-weight: 400;
}

div#toTop {
  position: fixed;
  bottom: 50px;
  left: calc(50% - 55px);
  z-index: 600;
  font-size: 120%;
  font-weight: 400;
  color: black;
  border-bottom: 2px solid black;
  background-color: white;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .arts-grid.row .item {
    margin-bottom: 60px;
  }
  .view-all {
    padding: 0 5%;
  }
}

@media (min-width: 768px) {
  .container, .view-all {
    padding: 0 6%;
  }
  .str-l {
    width: calc(100% + 6vw);
    margin-left: -6vw;
  }
  .str-r {
    width: calc(100% + 6vw);
  }
  .row.grid-big > [class*='col']:not(.str-l) {
    margin-left: 100px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 10%;
  }
  h1 {
    font-size: 42px;
  }
  .str-l {
    width: calc(100% + 10vw);
    margin-left: -10vw;
  }
  .str-r {
    width: calc(100% + 10vw);
  }
  [class*='col'] {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .view-all {
    margin-left: -100px;
    margin-bottom: 0px;
    position: absolute;
    top: 50%;
    z-index: 99999;
    text-align: center;
    -webkit-transform: translateX(0) translateY(-50%) rotate(-90deg);
            transform: translateX(0) translateY(-50%) rotate(-90deg);
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 13.7%;
  }
  .str-l {
    width: calc(100% + 13.7vw);
    margin-left: -13.7vw;
  }
  .str-r {
    width: calc(100% + 13.7vw);
  }
}
/*# sourceMappingURL=base.css.map */