[data-item='page-arts-exhibitions-item'] {
    margin: 60px 0;
    
    &> div:first-child *{
        text-align: right;
    }

    &> div:nth-child(2) {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        align-items: center;

        &::-webkit-scrollbar {
            display: none;
        };

        img {
            width: 100px;
            margin-right: 12px;
        }
    }
}

@media (max-width: 768px) {
    [data-item='page-arts-exhibitions-item'] {
        &> div:first-child *{
            text-align: left;
            margin-bottom: 16px;
        }
    }
}

@media (min-width: 1024px) {
    [data-item='page-arts-exhibitions-item'] {   
        &> div:nth-child(2) {
            flex: 1;

            img {
                margin-right: 40px;
            }
        }
    }
}



