@font-face {
    font-family: 'Moderat';
    src: url('../fonts/Moderat-Regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moderat';
    src: url('../fonts/Moderat-Light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
}

